<launch>
  <!-- Argument -->
  <arg name="rviz" default="true"/>

  <!-- Noeud principal -->
  <node pkg="fast_livo" exec="fastlivo_mapping" name="laserMapping" output="screen">
    <param from="$(find-pkg-share fast_livo)/config/NTU_VIRAL.yaml"/>
    <param from="$(find-pkg-share fast_livo)/config/camera_NTU_VIRAL.yaml"/>
  </node>

  <!-- Lancer RViz si demandé -->
  <group if="$(var rviz)">
    <node pkg="rviz2" exec="rviz2" name="rviz" args="-d $(find-pkg-share fast_livo)/rviz_cfg/ntu_viral.rviz"/>
  </group>
</launch>
